# Triangle Comparison Report

**Summary:** 4 Passed, 1 Failed, 0 Errors out of 5 tests.

| Triangle Type | Year | Status | Threshold | Max Change | Details |
|---|---|---|---|---|---|
| ho_inc_loss | 2024 vs 2023 | **❌Fail** | 2.000 | 6.000 | There is a change greater than 2. Largest change is 6.0 |
| ho_paid_loss | 2024 vs 2023 | ✅Pass | 2.000 | 2.000 | - |
| ho_cwp | 2024 vs 2023 | ✅Pass | 2.000 | 2.000 | - |
| ho_open | 2024 vs 2023 | ✅Pass | 2.000 | 1.000 | - |
| ho_claims_rept | 2024 vs 2023 | ✅Pass | 2.000 | 2.000 | - |
