# Triangle Comparison Report

**Summary:** 9 Passed, 1 Failed, 0 Errors out of 10 tests.

| Triangle Type | Year | Status | Threshold | Max Change | Details |
|---|---|---|---|---|---|
| ho_inc_loss | 2020 | ✅Pass | 2.000 | 2.000 | - |
| ho_inc_loss | 2021 | **❌Fail** | 2.000 | 6.000 | There is a change greater than 2. Largest change is 6.0 |
| ho_paid_loss | 2020 | ✅Pass | 2.000 | 2.000 | - |
| ho_paid_loss | 2021 | ✅Pass | 2.000 | 2.000 | - |
| ho_cwp | 2020 | ✅Pass | 2.000 | 2.000 | - |
| ho_cwp | 2021 | ✅Pass | 2.000 | 2.000 | - |
| ho_open | 2020 | ✅Pass | 2.000 | 1.000 | - |
| ho_open | 2021 | ✅Pass | 2.000 | 1.000 | - |
| ho_claims_rept | 2020 | ✅Pass | 2.000 | 1.000 | - |
| ho_claims_rept | 2021 | ✅Pass | 2.000 | 2.000 | - |
